// nov footer coomn styles
body{
  .main{
    background-color:#fcebf7;
  }
  .col{
    padding: 20px;
  }

nav {
  // position: fixed;
  width: 100%;
  line-height: 60px;
  background-color: #251f44;
  padding-bottom: 20px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(194, 157, 157, 0);
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding-left: 0px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}
nav li a{
  color:#f5a1d6;
font-weight: 600;
}
// a:hover {
//   color: #e2964e;
//   font-size: 20px;
// }
nav ul li {
  display: inline-block;
  padding: 16px 40px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;

}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {



  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: right;
  }

  .menu-icon {
        display: block;
  }

}

h1, h2, h3{
  color: #251f44;
}

// side nav bar

.sidebar {
  width: 50%;
  height: 80vh;
  font-size: 0.65em;
  margin-left: 130px;

  .nav {
    position: relative;
  // margin: 0 15%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
  }

  .nav ul {
    list-style: none;

    li {
      position: relative;
      background-color: #251f44;


      a {
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        // transition: all ease-out 300ms;
         color:#f5a1d6;

      }

      &.active a {
        color: #251f44;
      }

      // &:not(.active)::after {
      //   opacity: 0.2;
      // }

      // &:not(.active):hover a {
      //   color: rgba(#FFF, 0.75);
      // }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2em;
        background: black;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to right, #5e42a6, #b74e91)
      }
    }
  }

}
// dropdown nav

.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 15rem;
   padding: 0;
   margin:  0;
  font-size: 0;
  color: pink;
  text-align: left;
  list-style: none;
   background-color:#251f44;
  background-clip: padding-box;
  border: 0px;
  border-radius: 0 px;
  line-height: 15px;
}


// fotter styles

.footer-top .container{
  padding-top: 50px;
}

.footer-bottom{
  color:#251f44 ;
}

.footer-top{
  color:#251f44;
}

.logo-footer{
  width: 150px;
  height: 100px;
padding-left:  50px;
}

.footer-social a{
  padding: 40px;
}

a{
  color: #251f44;
}
// footer end

.founders{
  h3{
    text-align: center;
    font-style: italic;
  }
}
.row{
 .col-sm-6{
   img{
     border: 2px solid red;
   }
   p{
     text-align: center;
     font-weight: 400;

   }
  h2{
   padding-left: 200px;
font-size: 40px;
font-weight: 400;
font-style: italic
  }
 }
}

}


// commom styles end

.ima{
  padding: 100px;
}
li {
  list-style: none;
}
.para{
  padding-left: 25px;
}


// carsoul styles

#carouselExampleSlidesOnly{
  padding-top: 60px;
  padding-bottom: 60px;

}
h5{
 padding-left: 30px;
}
